#infos{
	background-color: rgb(13,81,160);
	color: white;
	height: 5%;
	text-align: center;
	position: absolute;
	bottom: 0px;
}

#nav{
	height: 95%;
	border-right: solid 1px rgb(13,81,160);
	overflow: scroll;
}

#search{
	height: 7%;
	border-bottom: solid 1px rgb(13,81,160);
}


#salles{
	height: 7%;
	border-bottom: solid 1px rgb(13,81,160);
}

#planning{
	height: 81%;
	border-bottom: solid 1px rgb(13,81,160);
}

#switch{
	height: 10%;
}

#details{
	height: 20%;
	border-left: solid 1px rgb(13,81,160);
	border-bottom: solid 1px rgb(13,81,160);
	padding: 5% 5% 5% 5%;
	text-align: center;
	font-weight: bold;

}

#indic{
	height: 75%;
	border-left: solid 1px rgb(13,81,160);
}

#logo{
	height: 100%;
	width: 100%;
}

#divLegende{
	cursor: pointer;
	color: rgb(251,188,30);
	text-decoration: underline;
}

/* Modal */
.modal-content{
	background-color: rgb(13,81,160);
	color : rgb(251,188,30);
}

.modal-header{
	border-bottom-color: rgb(251,188,30);
}

.modal-footer{
	border-top-color: rgb(251,188,30);
}

.no-padding{
	padding-right: 0;
	padding-left: 0;
}
