#infos{
	background-color: rgb(13,81,160);
	color: white;
	height: 5%;
	text-align: center;
	position: absolute;
	bottom: 0px;
}

#nav{
	height: 95%;
	border-right: solid 1px rgb(13,81,160);
	overflow: scroll;
}

#search{
	height: 7%;
	border-bottom: solid 1px rgb(13,81,160);
}


#planning{
	height: 81%;
}

#details{
	height: 20%;
	border-left: solid 1px rgb(13,81,160);
	border-bottom: solid 1px rgb(13,81,160);
	padding: 5% 5% 5% 5%;
	text-align: center;
	font-weight: bold;

}

#indic{
	height: 75%;
	border-left: solid 1px rgb(13,81,160);
}

#logo{
	height: 100%;
	width: 100%;
}

#divLegende{
	cursor: pointer;
	color: rgb(251,188,30);
	text-decoration: underline;
}

/* Modal */
.modal-content{
	background-color: rgb(13,81,160);
	color : rgb(251,188,30);
}

.modal-header{
	border-bottom-color: rgb(251,188,30);
}

.modal-footer{
	border-top-color: rgb(251,188,30);
}

.no-padding{
	padding-right: 0;
	padding-left: 0;
}

a.carre{
width:110px; 
height:20px;  
text-decoration:none; 
color:white;
text-align:center; 
font-weight:bold; 
background-color:rgb(260,0,0);
padding:5px}
 
.carre{
padding:5px;}

/* onglets */
#onglets
{
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 22px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid rgb(13,81,160);
    margin-left : 0;
}

#onglets li
{
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #F4F9FD;
    margin : 2px 2px 0 2px !important;  /* Pour les navigateurs autre que IE */
    margin : 1px 2px 0 2px;  /* Pour IE  */
    border : 1px solid rgb(13,81,160);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#onglets li.active
{
    border-bottom: 1px solid #fff;
    background-color: #fff;
}

#onglets a
{
    display : block;
    color : rgb(13,81,160);
    text-decoration : none;
    padding : 4px;
}

#onglets a:hover
{
    background : #fff;
}


